In [14]:
# Criando um dicionário para armazenar informações sobre estudantes e suas notas
notas_alunos = {
    'João': {'Matemática': 90, 'Português': 85, 'Ciências': 88}, 
    'Maria': {'Matemática': 95, 'Português': 92, 'Ciências': 89}, 
    'Pedro': {'Matemática': 80, 'Português': 75, 'Ciências': 82}
}

In [15]:
# Acessando as notas de uma aluno específico
nota_maria_matematica = notas_alunos['Maria']['Matemática']

In [16]:
notas_alunos['Ana'] = {'Matemática': 88, 'Português': 91, 'Ciências': 85}

In [17]:
notas_alunos

{'João': {'Matemática': 90, 'Português': 85, 'Ciências': 88},
 'Maria': {'Matemática': 95, 'Português': 92, 'Ciências': 89},
 'Pedro': {'Matemática': 80, 'Português': 75, 'Ciências': 82},
 'Ana': {'Matemática': 88, 'Português': 91, 'Ciências': 85}}

In [18]:
import pandas as pd

In [19]:
dados = pd.DataFrame(notas_alunos)

In [21]:
df = pd.read_csv(r'C:\Users\logonrmlocal\Desktop\dynamic-prgramming-080324\dados\dataframe_teste.csv')

In [22]:
df

   Unnamed: 0  João  Maria  Pedro  Ana
0  Matemática    90     95     80   88
1   Português    85     92     75   91
2    Ciências    88     89     82   85